import os

secrets = {
	'ERP_SENDGRID_API_KEY': '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',
	'ERP_AWS_SECRET_ACCESS_KEY': 'OX+u2GK4p0KnT0rhhxO9eRIzPy/6o0smIdu3BsGz',
	'ERP_DB_PASSWORD': 'nCPb7JeFQR0zk9Xlr4yK',
	'ERP_PAYPAL_CLIENT_SECRET': 'EIWfSh-7IM2Q_3t-p9IsW5CAc5Bkapesz6AYoYneYMcpB-roGycfFGzzvyPj8B9lGyNRfSJi0-Aj0etx',
    'ERP_RECAPTCHA_PUBLIC_KEY': '6LfYNvIUAAAAADu1XaVACmbstWzbBkgihAO4Bs38',
    'ERP_RECAPTCHA_PRIVATE_KEY': '6LfYNvIUAAAAAM9d-AsE0zwXLtkbAjv2Pd1UfNvB',
}

for k, v in secrets.items():
	cmd = f"printf {v} | docker secret create {k} -"
	os.system(cmd)
